@use "../base/variables";
@use "../ui/button";

.hero {
  margin-bottom: 103px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__message-container {
    display: flex;
    flex-direction: column;
    max-width: 546px;
    align-items: flex-start;
    flex-basis: 50%;

    .hero__title {
      margin-bottom: 40px;
      padding-right: 121.24px;
      position: relative;
      h1 {
        margin: 0;
        font-weight: 600;
        line-height: 80px;
        font-size: 64px;
        color: #000000;
        max-width: 388px;
      }
      img {
        position: absolute;
        top: 92px;
        right: 0;
        width: 85.24px;
      }
    }
    .button {
      padding: 22px 78px;
    }
  }

  &__describe-container {
    margin-bottom: 61px;

    p {
      margin: 0;
      font-size: 24px;
      color: #8f95a5;
      font-weight: 400;
    }
    p + p {
      margin-top: 20px;
    }
  }

  &__img-container {
    flex-basis: 50%;
    max-width: 661px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: variables.$mediaTablet) {
  .hero {
    margin-bottom: 47px;
    &__message-container {
      max-width: 420px;

      .hero__title {
        margin-bottom: 27px;
        padding-right: 71px;
        h1 {
          font-size: 48px;
          line-height: 64px;
          max-width: 290px;
        }
        img {
          top: 90px;
          width: 58.71px;
        }
      }
      .button {
        padding: 22px 78px;
        font-size: 24px;
      }
    }

    &__describe-container {
      margin-bottom: 33px;

      p {
        font-size: 20px;
      }

      p + p {
        margin-top: 18px;
      }
    }

    &__img-container {
      max-width: 460px;
    }
  }
}

@media (max-width: variables.$mediaSmallTablet) {
  .hero {
    margin-bottom: 56px;
    &__message-container {
      max-width: 340px;

      .hero__title {
        margin-bottom: 25px;
        padding-right: 51px;
        h1 {
          max-width: 217px;
          font-size: 36px;
          line-height: 45px;
        }
        img {
          top: 67px;
          width: 50.95px;
        }
      }
      .button {
        padding: 19px 67px;
        font-size: 18px;
      }
    }

    &__describe-container {
      margin-bottom: 32px;

      p {
        font-size: 16px;
      }
      p + p {
        margin-top: 15px;
      }
    }

    &__img-container {
      max-width: 352px;
    }
  }
}

@media (max-width: variables.$mediaMobile) {
  .hero {
    margin-bottom: 96px;
    .container {
      flex-direction: column-reverse;
      gap: 17px;
    }
    &__message-container {
      max-width: unset;
      justify-content: center;
      align-items: stretch;

      .hero__title {
        margin-bottom: 26px;
        padding-right: 0;
        h1 {
          max-width: 100%;
          line-height: 45px;
          font-size: 34px;
        }
        img {
          display: none;
        }
      }
      .button {
        padding: 24px 20px;
        min-width: 200px;
        max-width: 305px;
        align-self: center;
        font-size: 18px;
        font-weight: 500;
      }
    }

    &__describe-container {
      margin-bottom: 37px;

      p {
        font-size: 16px;
      }
      p + p {
        margin-top: 15px;
      }
    }

    &__img-container {
      max-width: 100%;
    }
  }
}

@media (max-width: variables.$mediaSmallMobile) {
  .hero {
    margin-bottom: 51px;
    .container {
      gap: 16px;
    }
    &__message-container {
      .hero__title {
        margin-bottom: 20px;
        h1 {
          font-size: 24px;
          line-height: 36px;
          text-align: center;
        }
      }
      .button {
        padding: 18px 10px;
        min-width: 130px;
        max-width: 205px;
        font-size: 16px;
      }
    }

    &__describe-container {
      margin-bottom: 35px;

      p {
        font-size: 14px;
        text-align: center;
      }
      p + p {
        margin-top: 10px;
      }
    }
  }
}
