$mainBackgroundColor: #e5e5e5;

$hoverLinkColor: rgb(71, 71, 71);
$activeLinkColor: rgb(71, 71, 71);
$visitedLinkColor: rgb(71, 71, 71);

$border-color: #263238;

$containerWidth: 1340px;
$transition: all 0.3s;
$mainPadding: 0 30px;

$mediaTablet: 992px;
$mediaSmallTablet: 767px;
$mediaMobile: 575px;
$mediaSmallMobile: 320px;
